*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    margin:2rem 0 2rem 0;
    overflow-x: hidden;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 3rem;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 5px;
}

/* Campo de criação de tarefa */

.salvar_tarefa{
    display: flex;
    gap:1rem;
}

.salvar_tarefa input, .salvar_tarefa button{
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    background-color:aliceblue;
}

.salvar_tarefa button{
    background-color: rosybrown;
    color: aliceblue;
    cursor: pointer;
}

/* Local onde aparecem as tasks */
.container{
    display: grid;
    width: 90%;
    flex-wrap: wrap;
    gap:1rem;
    grid-template-columns:auto auto auto;
    justify-content: center;
}

/* task */
.container .tarefa{
    display: flex;
    gap:1rem;
    padding: 1rem;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
    background-color: aliceblue;
    justify-content: space-around;
}

.container .tarefa p{
    font-size: 1.6rem;
    width: 15rem;
    text-align: center;
}

.container .tarefa button{
    width: 4rem;
    height: 4rem;
    background-color: none;
}

.container .tarefa button img{
    width: 100%;
    height: 100%;
}

.container .tarefa #deleteTask{
    background-color: red;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

@media(max-width:900px){
    html{
        font-size: 57%;
    }

    .container .tarefa{
        gap:.5rem;
        padding: .5rem;
    }
}

@media(max-width:730px){
    .container{
        grid-template-columns: 30rem 30rem;
    }
}

@media(max-width:590px){
    .container{
        grid-template-columns: 25rem 25rem;
    }
}

@media(max-width:515px){
    .container{
        grid-template-columns: 30rem;
    }
}